<div style="margin-top: 100px!important;">
  <footer class="w-100 text-center text-lg-start text-white" style="background-color: #1c2331">
    <section class="d-flex justify-content-between p-4" style="background-color: #0466c8">
      <div class="me-5">
        <span>{{'gcwu'| translate}}</span>
      </div>
      <div>
        <a href="https://www.facebook.com/people/Catenaccio-%E1%83%99%E1%83%90%E1%83%A2%E1%83%94%E1%83%9C%E1%83%90%E1%83%A9%E1%83%9D/61552611089466/" target="_blank" class="text-white me-4">
          <fa-icon [icon]="facebook" class="me-1"></fa-icon>
        </a>
        <a href="https://www.instagram.com/catenaccio.geo/"  target="_blank" class="text-white me-4">
          <fa-icon [icon]="instagram" class="me-1"></fa-icon>
        </a>
        <a href="https://www.tiktok.com/@catenaccio74"  target="_blank" class="text-white me-4">
          <fa-icon [icon]="tiktok" class="me-1"></fa-icon>
        </a>
        <a href="https://www.youtube.com/@CatenaccioGeo"  target="_blank" class="text-white me-4">
          <fa-icon [icon]="youtube" class="me-1"></fa-icon>
        </a>
      </div>
    </section>

    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold fs-4">{{'catenaccio'| translate}}</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #0466c8; height: 2px" />
            <p>
              {{'catenaccioIntro'| translate}}
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold fs-4">{{'contact'| translate}}Contact</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #0466c8; height: 2px" />
            <p><fa-icon [icon]="address" class="me-1"></fa-icon> {{'ts'| translate}}</p>
            <p><fa-icon [icon]="mail" class="me-1"></fa-icon> catenaccio.geo&#64;gmail.com</p>
            <p><fa-icon [icon]="phone" class="me-1"></fa-icon> +995 574 83 62 59</p>
          </div>
        </div>
      </div>
    </section>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2024 Copyright:
      <a class="text-white" style="text-decoration: none;">Catenaccio Geo</a>
    </div>
  </footer>
</div>