<div style="margin-top: 100px!important;">
  <footer class="w-100 text-center text-lg-start text-white" style="background-color: #1c2331">
    <section class="d-flex justify-content-between p-4" style="background-color: #0466c8">
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <div>
        <a href="" class="text-white me-4">
          <fa-icon [icon]="facebook" class="me-1"></fa-icon>
        </a>
        <a href="" class="text-white me-4">
          <fa-icon [icon]="instagram" class="me-1"></fa-icon>
        </a>
        <a href="" class="text-white me-4">
          <fa-icon [icon]="tiktok" class="me-1"></fa-icon>
        </a>
        <a href="" class="text-white me-4">
          <fa-icon [icon]="youtube" class="me-1"></fa-icon>
        </a>
      </div>
    </section>

    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold fs-4">Catenaccio</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #0466c8; height: 2px" />
            <p>
              Catenaccio - A wide selection of high-quality sports accessories tailored to your needs. Stay tuned and subscribe to our youtube channel and also do not forget to follow us on social media pages!
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold fs-4">Contact</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #0466c8; height: 2px" />
            <p><fa-icon [icon]="address" class="me-1"></fa-icon> Tbilisi, Samgori 0163, Georgia</p>
            <p><fa-icon [icon]="mail" class="me-1"></fa-icon> catenaccio.geo&#64;gmail.com</p>
            <p><fa-icon [icon]="phone" class="me-1"></fa-icon> +995 574 83 62 59</p>
          </div>
        </div>
      </div>
    </section>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2024 Copyright:
      <a class="text-white" style="text-decoration: none;">Catenaccio Geo</a>
    </div>
  </footer>
</div>