<div class="mt-2 bg-light px-4 py-3 text-uppercase fw-bold">
     {{'os'| translate}}
</div>

<div class="p-4 mt-2">
    <p class="fst-italic mb-4">{{'scwb'| translate}}</p>
    <ul class="list-unstyled mb-4" *ngIf="(basketService.basketTotalSource$ | async) as totals">
    <li class="d-flex justify-content-between py-3 border-bottom">
        <strong class="text-muted">{{'ors'| translate}}</strong>
        <strong>{{totals.subtotal | currency}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
        <strong class="text-muted">{{'sah'| translate}}</strong>
        <strong>{{totals.shipping | currency}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
        <strong class="text-muted">{{'total'| translate}}</strong>
        <strong>{{totals.total | currency}}</strong>
    </li>
    </ul>
</div>