################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CatenaccioStore/.vs/CatenaccioStore/FileContentIndex
