<nav style="background-color: #1c2331;" class="d-flex flex-row align-items-center justify-content-between px-4 mb-3 border-bottom fixed-top shadow-sm">
  <div class="d-flex align-items-center flex-grow-1">
    <img src="../../assets/images/logo.png" class="logo" alt="logo" style="max-height: 70px;">
    <nav class="mx-3 my-3 text-uppercase fs-5 d-flex d-md-none dropdown">
      <div style="margin-left: 150px!important;" class="dropdown ms-3 me-5" style="text-decoration: none;" dropdown>
        <a style="cursor: pointer;" dropdownToggle class="dropdown-toggle">
          {{'menu' | translate}}
        </a>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
          <li class="py-1">
            <a class="dropdown-item" routerLink="/shop">{{'shop' | translate}}</a>
          </li>
          <li class="py-1">
            <a class="dropdown-item" routerLink="/contact">{{'contact' | translate}}/</a>
          </li>
          <li class="py-1">
            <a class="dropdown-item" routerLink="/">{{'aboutUs' | translate}}</a>
          </li>
        </ul>
      </div>
    </nav>

    <nav class="mx-3 my-3 text-uppercase fs-5 d-none d-md-flex">
      <a class="mx-3" routerLink="/shop" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'shop' | translate}}</a>
      <a class="mx-3" routerLink="/contact" routerLinkActive="active">{{'contact' | translate}}</a>
      <a class="mx-3" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'aboutUs' | translate}}</a>
    </nav>
  </div>
  <div class="d-flex align-items-center">
    <a routerLink="/basket" class="position-relative">
      <fa-icon [icon]="cart" class="fa-2x me-3"></fa-icon>
      <div *ngIf="(basketService.basketSource$ | async) as basket" class="cart-no">
        {{getCount(basket.baksetItems)}}
      </div>
    </a>
    <ng-container *ngIf="(accountService.currentUserSource$ | async) === null">
      <div class="dropdown ms-3 me-2" style="text-decoration: none;" dropdown>
        <a style="cursor: pointer;" dropdownToggle class="dropdown-toggle">
          <fa-icon [icon]="account" class="me-3 fa-2x"></fa-icon>
        </a>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
          <li class="py-1">
            <a routerLink="/login" class="dropdown-item aovv">
              <fa-icon [icon]="loginUser" class="me-3"></fa-icon>
              <span>{{'login' | translate}}</span>
            </a>
          </li>
          <li class="py-1">
            <a routerLink="/register" class="dropdown-item aovv">
              <fa-icon [icon]="registerUser" class="me-3"></fa-icon>
              <span>{{'register' | translate}}</span>
            </a>
          </li>
        </ul>
      </div>
      <app-lang></app-lang>
    </ng-container>
    
    <ng-container *ngIf="(accountService.currentUserSource$ | async) as user">
      <div class="dropdown ms-3 me-2" style="cursor: pointer;" dropdown>
        <a dropdownToggle class="dropdown-toggle aovv">
          <strong>{{user.displayName}}{{'apS' | translate}} {{'sett'| translate}} <fa-icon [icon]="settings" class="me-3"></fa-icon></strong>
        </a>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
          <li class="py-1">
            <a routerLink="/basket" class="dropdown-item aovv">
              <fa-icon [icon]="cart" class="me-3"></fa-icon>
              <span>{{'vB' | translate}}</span>
            </a>
          </li>
          <li class="py-1">
            <a routerLink="/orders" class="dropdown-item aovv"><fa-icon [icon]="history" class="me-3"></fa-icon>
              <span>{{'vO'| translate}}</span>
            </a>
          </li>
          <div class="dropdown-divider"></div>
          <li class="py-1">
            <a (click)="accountService.logout()" class="dropdown-item aovv">
              <fa-icon [icon]="signout" class="me-3"></fa-icon>
              <span>{{'logout'| translate}}</span>
            </a>
          </li>
        </ul>
        
      </div>
      <app-lang></app-lang>

    </ng-container>
  </div>
</nav>
