<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <div class="responsive-container-block leftSide">
        <p style="color: #0466c8;" class="text-blk heading">
          {{'mOurCTeam' | translate}}
        </p>
        <p class="text-blk subHeading">
          {{'ideaOfCatenaccio' | translate}}
        </p>
      </div>
      <div class="responsive-container-block rightSide">
        <img class="number2img" src="../../assets/images/sami.jpg">
        <img class="number3img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/b245.png">
        <img class="number5img" src="../../assets/images/logo.png">
        <iframe allowfullscreen="allowfullscreen" class="number4vid" 
        src="https://www.youtube.com/embed/Te8VGuTmKzk?autoplay=1">
      </iframe>
        <img class="number7img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d51.png">
        <img class="number6img" src="../../assets/images/ori.jpg">
      </div>
    </div>
  </div>