<div class="container mt-5">
    <div class="row">
    <div class="col-12">
    <table class="table table-hover" style="cursor: pointer;">
    <thead class="thead-light">
    <tr>
    <th>Order</th>
    <th>Date</th>
    <th>Total</th>
    <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders" routerLink="/orders/{{order.id}}">
    <th>{{order.id}}</th>
    <td>{{order.orderDate | date: 'medium'}}</td>
    <td>{{order.total | currency}}</td> 
    <ng-container *ngIf="order.orderStatus.toString() === 'Payment Failed'">
        <td class="text-danger">{{order.orderStatus}}</td>
    </ng-container>
    <ng-container *ngIf="order.orderStatus.toString() === 'Pending'">
        <td style="color: #0466c8;">{{order.orderStatus}}</td>
    </ng-container>
    <ng-container *ngIf="order.orderStatus.toString() === 'Payment Recevied'">
        <td class="text-success">{{order.orderStatus}}</td>
    </ng-container>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>