<main>
    <section class="tp-login-area pb-140 p-relative z-index-1 fix">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="tp-login-wrapper">
                        <div class="tp-login-top text-center mb-30">
                            <h3 class="tp-login-title">{{'rp'| translate}}</h3>
                            <p class="tp-login-subtitle">{{'eye'| translate}}</p>
                        </div>
                        <div class="tp-login-option">
                            <div class="tp-login-input-wrapper">
                                <div class="tp-login-input-box">
                                    <div class="tp-login-input">
                                        <input id="email" type="email" placeholder="Enter your email" [(ngModel)]="userEmail">
                                    </div>
                                </div>
                            </div>
                            <div class="tp-login-bottom">
                                <button type="submit" class="tp-login-btn w-100" [disabled]="isButtonDisabled" (click)="demandRecovery()">Send Mail</button>
                            </div>
                            <div class="tp-login-suggestions text-center mt-3" style="padding: 10px;">
                                <span>{{'rem'| translate}}<a href="login.html">{{'login'| translate}}</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
