<div class="container">
    <div class="row" *ngIf="product">
        <div class="col-4">
            <img src="{{product.pictureUrl}}" alt="{{product.name}}" style="min-height: 250px; max-height: 250px; object-fit: cover;" class="w-100">
        </div>  
        <div class="col-6 mt-5">
            <h2 *ngIf="lang === 'en'" style="color: #0466c8;">{{product.name}}</h2>
            <h2 *ngIf="lang === 'en'" style="color: #0466c8;">{{product.nameGeo}}</h2>
            <p style="font-size: 2em;">{{product.price }}₾</p>
            <ng-container *ngIf="product.quantity <= 10"> 
                <h4 class="text-danger">{{'inStock' | translate}} {{product.quantity}} {{'pleft' | translate}}</h4>
            </ng-container>
            <ng-container *ngIf="product.quantity > 10"> 
                <h4 style="color: #023291;">{{'inStock' | translate}} {{product.quantity}}  {{'pcs' | translate}}</h4>
            </ng-container>

            <h5 style="color: #0466c8;" class="mb-3" *ngIf="quantityInBasket > 0">
                {{'youh' | translate}} {{quantityInBasket}} {{'oftiiyb' | translate}}
            </h5>


            <div class="d-flex justify-content-start align-items-center">
                <fa-icon
                (click)="decerementQuantity()"
                [icon]="minus" class="text-warning me-2" style="cursor: pointer; font-size: 2em;"></fa-icon>
                <span class="font-wieght-bold" style="font-size: 1.5em;">{{quantity}}</span>
                <fa-icon
                (click)="inerementQuantity()"
                [icon]="plus" class="text-warning me-2 ms-2" style="cursor: pointer; font-size: 2em;"></fa-icon>
                <button (click)="updateBasket()" [disabled]="quantity === quantityInBasket || quantity == 0" class="btn btn-outline custom-outline-primary ms-4">{{buttonText}}</button>
            </div>
            <div class="row mt-4">
                <h4 style="color: #0466c8;">{{'description' | translate}}</h4>
                <p *ngIf="lang === 'en'">{{product.description}}</p>
                <p *ngIf="lang === 'ka'">{{product.descriptionGeo}}</p>
            </div>
        </div>  
    </div>
    
</div>