.list-group-item{
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;

    &.active{
        border-radius: 10px;
        background-color: #0466c8;
    }

    &:not(.active):hover{
        color: #fff;
        background-color: #0466c8;
        border-radius: 10px;
    }
}

.custom-outline-primary {
    color: #0466c8;
    border-color: #0466c8; 
}

.custom-outline-primary:hover {
    background-color: #0466c8;
    color: #fff; 
}

.custom-outline-secondary {
    color: #1c2331; 
    border-color: #1c2331; 
}

.custom-outline-secondary:hover {
    background-color: #1c2331; 
    color: #fff; 
}

